@model Yummy_2.Models.Service
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminUILayout.cshtml";
}

<div class="container">
    <div class="py-3 my-4 titre">
        <h2 class="mx-3 fs-4"> <i class="fa-solid fa-message me-2"></i>Hizmetlerimiz </h2>
    </div>
    <form method="post" >
        <label class="form-label">Başlık</label>
        @Html.TextBoxFor(s => s.Title, new { @class="form-control mb-2" })

        <label class="form-label">Açıklama</label>
        @Html.TextBoxFor(s => s.Description, new { @class="form-control mb-2" })

         <label class="form-label">İkon</label>
        @Html.TextBoxFor(s => s.Icon, new { @class="form-control mb-2" })

        <br/>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-plus me-2"></i> Ekle</button>
    </form>
</div>

