@model List<Yummy_2.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminUILayout.cshtml";
    int count = 0;
}

<div class="container px-2">
    <div class="py-3 my-4 titre">
        <h2 class="mx-3 fs-4"> Etkinlikler</h2>
    </div>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th class="text-secondary">Başlık</th>
                <th class="text-secondary">Açıklama</th>
                <th class="text-secondary"> Fıyat</th>
                <th class="text-secondary">Güncelle</th>
                <th class="text-secondary">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            { count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td class="text-nowrap"><a href="/Event/Update/@item.EventId" class="btn btn-success"><i class="fa fa-edit me-1"></i>Güncelle</a></td>
                    <td class="text-nowrap"><a href="/Event/Delete/@item.EventId" class="btn btn-danger"><i class="fa fa-trash me-1"></i>Sil</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>
<a href="/Event/Create" class="btn btn-primary text-white"><i class="fa fa-plus me-2"></i>Ekle</a>

